*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:100px;
    color: white;
    font-family: Arial, sans-serif;
}

/* Header Title */
.header-title {
    z-index: 1;
}

.header-title h1, .header-title h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.header-title h2{
    font-size: 2.5rem;
    color: #333333;
}

/* Glassmorphism Card */
.login-card {
    width: 350px;
    padding: 2rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 1rem;

    color:#4d4d4d;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #0d0d0d;
    font-size: 0.95rem;
}

.input-group input::placeholder {
    color: #4d4d4d;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #4F6F52, #86A789);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:hover {
    background: linear-gradient(135deg, #3d5c3f, #6c8f72);
}

.extra-links {
    text-align: center;
    margin-top: 1rem;
}

.extra-links a {
    color: #fff;
    font-size: 0.85rem;
    text-decoration: none;
    transition: 0.3s;
}

.extra-links a:hover {
    text-decoration: underline;
}